./node_modules
node_modules/@discordjs/collection/package.json
node_modules/@discordjs/form-data/package.json
node_modules/@sindresorhus/is/package.json
node_modules/@szmarczak/http-timer/package.json
node_modules/abbrev/package.json
node_modules/abort-controller/package.json
node_modules/ansi-align/package.json
node_modules/ansi-align/node_modules/string-width/package.json
node_modules/ansi-regex/package.json
node_modules/ansi-styles/package.json
node_modules/anymatch/package.json
node_modules/asynckit/package.json
node_modules/balanced-match/package.json
node_modules/bignumber.js/package.json
node_modules/binary-extensions/package.json
node_modules/boxen/package.json
node_modules/brace-expansion/package.json
node_modules/braces/package.json
node_modules/cacheable-request/package.json
node_modules/cacheable-request/node_modules/get-stream/package.json
node_modules/cacheable-request/node_modules/lowercase-keys/package.json
node_modules/camelcase/package.json
node_modules/chalk/package.json
node_modules/chalk/node_modules/has-flag/package.json
node_modules/chalk/node_modules/supports-color/package.json
node_modules/chokidar/package.json
node_modules/ci-info/package.json
node_modules/cli-boxes/package.json
node_modules/clone-response/package.json
node_modules/color-convert/package.json
node_modules/color-name/package.json
node_modules/combined-stream/package.json
node_modules/concat-map/package.json
node_modules/configstore/package.json
node_modules/core-util-is/package.json
node_modules/crypto-random-string/package.json
node_modules/debug/package.json
node_modules/decompress-response/package.json
node_modules/deep-extend/package.json
node_modules/defer-to-connect/package.json
node_modules/delayed-stream/package.json
node_modules/discord.js/package.json
node_modules/dot-prop/package.json
node_modules/dotenv/package.json
node_modules/duplexer3/package.json
node_modules/emoji-regex/package.json
node_modules/end-of-stream/package.json
node_modules/escape-goat/package.json
node_modules/event-target-shim/package.json
node_modules/fill-range/package.json
node_modules/get-stream/package.json
node_modules/glob-parent/package.json
node_modules/global-dirs/package.json
node_modules/got/package.json
node_modules/graceful-fs/package.json
node_modules/has-flag/package.json
node_modules/has-yarn/package.json
node_modules/http-cache-semantics/package.json
node_modules/https/package.json
node_modules/ignore-by-default/package.json
node_modules/import-lazy/package.json
node_modules/imurmurhash/package.json
node_modules/inherits/package.json
node_modules/ini/package.json
node_modules/is-binary-path/package.json
node_modules/is-ci/package.json
node_modules/is-extglob/package.json
node_modules/is-fullwidth-code-point/package.json
node_modules/is-glob/package.json
node_modules/is-installed-globally/package.json
node_modules/is-npm/package.json
node_modules/is-number/package.json
node_modules/is-obj/package.json
node_modules/is-path-inside/package.json
node_modules/is-typedarray/package.json
node_modules/is-yarn-global/package.json
node_modules/isarray/package.json
node_modules/json-buffer/package.json
node_modules/keyv/package.json
node_modules/latest-version/package.json
node_modules/lowercase-keys/package.json
node_modules/make-dir/package.json
node_modules/make-dir/node_modules/semver/package.json
node_modules/mime-db/package.json
node_modules/mime-types/package.json
node_modules/mimic-response/package.json
node_modules/minimatch/package.json
node_modules/minimist/package.json
node_modules/ms/package.json
node_modules/mysql/package.json
node_modules/node-fetch/package.json
node_modules/nodemon/package.json
node_modules/nopt/package.json
node_modules/normalize-path/package.json
node_modules/normalize-url/package.json
node_modules/once/package.json
node_modules/p-cancelable/package.json
node_modules/package-json/package.json
node_modules/package-json/node_modules/semver/package.json
node_modules/picomatch/package.json
node_modules/prepend-http/package.json
node_modules/prism-media/package.json
node_modules/process-nextick-args/package.json
node_modules/pstree.remy/package.json
node_modules/pump/package.json
node_modules/pupa/package.json
node_modules/rc/package.json
node_modules/readable-stream/package.json
node_modules/readdirp/package.json
node_modules/registry-auth-token/package.json
node_modules/registry-url/package.json
node_modules/responselike/package.json
node_modules/safe-buffer/package.json
node_modules/semver/package.json
node_modules/semver-diff/package.json
node_modules/semver-diff/node_modules/semver/package.json
node_modules/setimmediate/package.json
node_modules/signal-exit/package.json
node_modules/sqlstring/package.json
node_modules/string-width/package.json
node_modules/string-width/node_modules/ansi-regex/package.json
node_modules/string-width/node_modules/emoji-regex/package.json
node_modules/string-width/node_modules/is-fullwidth-code-point/package.json
node_modules/string-width/node_modules/strip-ansi/package.json
node_modules/string_decoder/package.json
node_modules/strip-ansi/package.json
node_modules/strip-json-comments/package.json
node_modules/supports-color/package.json
node_modules/term-size/package.json
node_modules/to-readable-stream/package.json
node_modules/to-regex-range/package.json
node_modules/touch/package.json
node_modules/tweetnacl/package.json
node_modules/type-fest/package.json
node_modules/typedarray-to-buffer/package.json
node_modules/undefsafe/package.json
node_modules/undefsafe/node_modules/debug/package.json
node_modules/undefsafe/node_modules/ms/package.json
node_modules/unique-string/package.json
node_modules/update-notifier/package.json
node_modules/url-parse-lax/package.json
node_modules/util-deprecate/package.json
node_modules/widest-line/package.json
node_modules/wrappy/package.json
node_modules/write-file-atomic/package.json
node_modules/ws/package.json
node_modules/xdg-basedir/package.json
